---
title: Home
description: หลักสูตรการเรียนนวดไทย
image: https://source.unsplash.com/UiMkBvDQSAA/2000x1322?a=.png
bottom_image: https://source.unsplash.com/0MoF-Fe0w0A/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">เชิญกันมาเรียนนวดไทย</h1>
			<p class="subtext editable">หลักสูตรนวดไทยเพื่อผ่อนคลาย แบ่งออกเป็น การเรียนนวดตัว 150 ชม. และ การเรียนนวดเท้า 50 ชม.</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">การเรียนนวดตัว</h2>
				<p class="editable">การเรียนนวดตัวหลักสูตร 150 ชม. เป็นหลักสูตรการเรียนนวดไทยเพื่อการผ่อนคลาย ใช้เวลาเรียน ร่วมกับการฝึกปฏิบัติ</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/a9pFSC8dTlo/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">การเรียนนวดเท้า</h2>
				<p class="editable">การเรียนนวดเท้าหลักสูตร 50 ชม. เป็นหลักสูตรการเรียนนวดไทยเพื่อการผ่อนคลาย ใช้เวลาเรียน ร่วมกับการฝึกปฏิบัติ</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/VxAwTeiqDao/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/0KHC0_X4GeU/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
